{% extends 'base.html.twig' %}
{% block title %}{{ 'title.login'|trans }}{% endblock %}
{% block body %}
{{parent()}}
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h1>Sign-in</h1>
        <div class="card card-container">
            <img
            src="{{asset('images/')}}default_avatar.png"
            alt="Circle Image" class="img-raised rounded-circle img-fluid"
          />
          {% if error %}
<div class="alert alert-danger">
    {{ error.messageKey|trans(error.messageData, 'security') }}
</div>
{% endif %}
      </div>
      <form method="POST">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
             <input type="text" placeholder="Username" id="username" name="username" value="{{ last_username }}" class="form-control"/>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input type="password" placeholder="password" id="password" name="password" class="form-control" required />
        </div> <!-- form-group// -->    
        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" required/>                               
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
            </button>
        </form>
        </div> <!-- form-group// -->      
        <p class="text-center">Create an account? <a href="{{path('app_register')}}">Sing up</a> </p>
    </article>
    </div> <!-- card.// -->
    
    </div> 
{% endblock %}