<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DiscoverTrip{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>       
    <body class="text-center">
      
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary"> 
            <a class="navbar-brand" href="#">DiscoverTrip</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link fa fa-home" href="{{path('homepage')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if  is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                  <a class="nav-link" href="#">Admin board</a>
                </li>
                {% endif %}
                {% if  is_granted('ROLE_PLANNER') %}
                <li class="nav-item">
                  <a class="nav-link" href="{{path('event_index')}}">My events</a>
                </li>
                {% endif %}
                {% if  is_granted('ROLE_USER') %}
                <li class="nav-item">
                  <a class="nav-link" href="{{path('participations')}}">My participations</a>
                </li>
                {% endif %}
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{app.user.fullName}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{path('app_account')}}">Profile</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a href="{{path('security_logout')}}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button></a>
                  </div>
                </li>
              
              {% else %}
              <li class="nav-item active">
                <a class="nav-link fa fa-sign-in" href="{{path('security_login')}}">Sign-in<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link fa fa-user-plus" href="{{path('app_register')}}"> Create account<span class="sr-only">(current)</span></a>
              </li>
              {% endif %}
            </ul>
          </div>
          </nav>
          <br><br><br>
          {% block body %}
            
          {% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://plugins.krajee.com/assets/73278038/js/fileinput.js"></script>
        {% endblock %}
    </body>
</html>
